langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
duckduckgo-search
langchain-text-splitters
langchain-openai
chromadb

faiss-cpu
langchain_chroma
pandas
openai
langchain-groq

pymupdf
arxiv
wikipedia
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
